{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block page %}Home{% endblock %}

{{ super() }}

{% block content %}
<div class="card-container">
    <div class="card">
      <div class="card-header">
        Card 1
      </div>
      <div class="card-body">
        <i class="fa-solid fa-location-dot"></i>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Card 2
      </div>
      <div class="card-body">
        Content for card 2
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Card 3
      </div>
      <div class="card-body">
        Content for card 3
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Card 4
      </div>
      <div class="card-body">
        Content for card 4
      </div>
    </div>
</div>
{% endblock %}